*, *::after, *::before {box-sizing: border-box;}

/* Declaração de variáveis para a paleta de cores */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
} 

body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {font-size: 16px;}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

img {max-width: 100%;}

a {text-decoration: none;}

.titulo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800 ;
    font-size: 1.5rem;

    a { 
        color: var(--cor-clara);
        background-color: var(--cor-escura);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }

}

.topo {
  
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);

    .limitador {
        height: 12vh;
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
}

.limitador {
    width: 95vw;
    margin: auto;
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover, .menu a:focus {
    background-color: var(--cor-intermediaria);
}

.links-menu {
    /* Atenção! Neste ponto, fazemos com que os links do menu iniciem escondidos (display:none) em telas pequenas. posteriormente com a ajud aod css combinado com js, faremos os comandos becessarios para exibir/esconder de forma alternada */
    display: none;

    a {
        color: var(--cor-escura);
        font-weight: bold;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.links-menu.aberto {
    /*Ativamos o flex paera anular o displey none (fazer os links aparecerem) e ao mesmo tempo ter o recurso do flex*/
    display: flex;

    /*direção coluna (para ficar um item encima do outro)*/
    flex-direction: column;

    /*Usamos o position e coordenadas para ajustar a posição e o tamanho que os links ocuparão na tela logo abaixo da palavra menu*/
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque {
    background-image: url(/imagens/fundo-destaque.jpg);
    background-size: cover;
    background-attachment: fixed; 
   
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* funçao clamp()
    Função until para o redimensionamento responsivo de acordo com criterios de tamanhos minimo ideial variavel/responsivo e maximo. uso mais comuns para textos responsivos, mas pode ser usado para qualquer propiedade que envolva tamanhos
    
    clamp (
        tamanho minimo
        tamamho ideal/variavel/responsivo
        tamanho maximo    
    )*/

    h2, p {
        animation: animaDestaque 1s;   
        text-align: center;
        color: var(--cor-clara);
    }

    h2 {font-size: clamp(3rem, 10vw, 7rem);}

    p {
        animation-delay: 0,5s; 

        /* Antes da animação: o elemento p assume o estilo do primeiro keyframe (ou seja, o from). portanto assim forçamos a inicicar com o opacity zero e escala menor 30% */
        animation-fill-mode: backwards;
        font-size: clamp(1.5rem, 3vw, 3rem);
    }

}

@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
    
}

article  {

    h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
    }

    p {
        padding: .5rem 0;
        font-size: 1.2rem;
    }

    address {
        font-style: normal;
        font-size: 1.2rem;
    }
}

.front-end, .historia, .localizacao {
    text-align: center;
}

.historia {
    background-image: url(/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed; 

    h2 {
        color: var(--cor-clara);
        text-shadow: var(--cor-escura) 3px 3px;
    }

    iframe {
        width: 100%;
        max-width: 700px;
        margin-bottom: 2rem;
    }

}

.localizacao {

    iframe {
        width: 100%;
        margin-top: 2rem;
    }

}

footer {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 30vh;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}



/* 1) Crie uma regra para formatar o artigo de História da Internet com:
- Plano de fundo: imagem "fundo-madeira"
- Deixe a imagem parada e cobrindo todo o espaço do artigo
 
2) Crie uma regra para formatar o titulo "História da Internet" com cor clara e uma sombra no texto.
 
3) Crie uma regra para formatar o vídeo do artigo História da Internet com:
- Largura de 100%
- Largura máxima de 700px
- Margem inferior de 2rem
 
4) Crie uma regra para formatar o mapa da Localização com:
- Largura de 100%
- Margem superior de 2rem
 
5) Crie uma regra para o rodapé com:
- Fundo escuro
- Cor do texto clara
- Altura de 30vh
- Negrito
- Flex com centralização total
- Texto centralizado
 
6) Crie uma classe chamada "limitador" com largura de 95vw e margem automática. 
Aplique esta classe no cabeçalho (provisoriamente) e também no artigo front-end. */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* REGRAS PARA PAGINAS INTERNAS (PRODUTOS, SERVIÇOS CONTATOS) */
.conteudo-interno {
    background-color: var(--cor-intermediaria);
    padding: .5rem;
    border-radius: 8px;

    h2 {
        padding-left: 0;
        font-size: 1.8rem;
    }
}

table {
    border-collapse: collapse;
    border: black solid 4px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    
    caption {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-bottom: .3rem;
    }

    th {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
    }

    th, td {
        border: black 1px solid;
        padding: 8px;
       
    }

    td:nth-child(2) {text-align: center;}

    td:last-child, th:last-child {text-align: right;}

    tr:nth-child(odd) {
        background-color: var(--cor-intermediaria) ;
    }

    tr:nth-child(even) {
        background-color: var(--cor-clara) ;
    }
}
